[Desktop Entry]
Name=Java File Starter
GenericName=Java Archive File Starter
GenericName[tr]=Java Arşiv Dosyası Başlatıcı
Comment=Java JAR File Starter
Comment[tr]=Java JAR Dosyası Başlatıcı
Exec=/usr/bin/javas %u
Icon=/usr/share/icons/hicolor/scalable/apps/java-archive.svg
Terminal=false
Type=Application
NoDisplay=false
Categories=Application;
MimeType=application/java-archive;application/x-java-archive;application/x-jar;
